::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #9ed0ff 0%, #0464cb 100%);
}
.error-msg {
  font-size: 14px;
  font-weight: 400;
  color: red;
}

.warningExpiry-msg {
  font-size: 14px;
  font-weight: 400;
  background-color: yellow;
  color: #000;
  padding: 0px 4px;
  border-radius: 4px;
}
.errorExpiry-msg {
  font-size: 14px;
  font-weight: 400;
  background-color: red;
  color: #000;
  padding: 0px 4px;
  border-radius: 4px;
}

/* .group .mx-datepicker .mx-input {
    background-color: white !important;
    cursor: pointer !important;
    border: 1px solid 	#E8E8E8;
    border-radius: 8px;
    height: 54px !important;
    padding-left: 12px !important;
    color: #1E1E1E;
    font-weight: 400 !important;
    font-size: 16px;
  }
  .group .mx-datepicker .mx-icon-calendar {
    display: none !important;
  }

  .group .mx-input-wrapper {
    width: 382px !important;
  }

  .mx-datepicker-main .mx-calendar {
    width: 382px !important;
  }

  .error-border .mx-input {
    border: 1px solid red !important; 
  } */

/* @media (min-width: 1441px) {
  .mx-datepicker-main{ 
    left: 957.5px !important;
    position: absolute !important;
  }
  .mx-datepicker-main .mx-time{ 
    width: 382px !important;
  }
  .group .mx-input-wrapper {
    width: 382px !important;
  }
  .mx-datepicker-main .mx-calendar {
    width: 382px !important;
  }
} */

/* @media (max-width: 320px) {
  ::v-deep .vdpComponent input {
    width: 270px;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  ::v-deep .vdpComponent input {
    width: 270px;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  ::v-deep .vdpComponent input {
    width: 100%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  ::v-deep .vdpComponent input {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  ::v-deep .vdpComponent input {
    width: 100%;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  ::v-deep .vdpComponent input {
    width: 100%;
  }
}

@media (min-width: 1441px) {
  ::v-deep .vdpComponent input {
    width: 360px;
  }
} */
